.sections--menu .sections__block{
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
}

/* left block */

.menu__left-block{
    flex-basis: 30%;   
}

.menu__title-block{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__title { 
    color: white;
}

.menu__dummy{
    width: 100%;
    height: 50%;
}

/* list */

.menu__list{
    flex-basis: 70%;

    list-style: none;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu__item{
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.menu__item-title--weat{
    background-image: url('../../img/menu/fon-myasoeds.jpg');
}
.menu__item-title--vegan{
    background-image: url('../../img/menu/fon-vegans.jpg');
}
.menu__item-title--diet{
    background-image: url('../../img/menu/fon-diets.jpg');    
}

.menu__item-title-block{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 80px;
    height:100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
}

.menu__item-title-block:before{
    content: "";
    display: inline-block;
    position: absolute;

    min-width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,.8);
}

.menu__item-title{        
    writing-mode: vertical-lr; 
    transform: scale(-1); 

    font-size: 40px;
    color: white;

    margin-bottom: 40px;
}

.menu__item-description{
    /*align-self: flex-start;*/
    width: 0;
    height: 100%;
    
    background-color: rgba(51,51,51,.95);
}

.menu__item-text{
    font-size: 14px;
    font-weight: 400;
    color:white;
    line-height: 24px;

    width: 85%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 35px;
}

.menu__item-text-dummy{
    width: 100%;
    height: 50%;
}

.menu__item:hover .menu__item-description{
    width: 100%;
}