.sections{
    overflow: hidden;

    width: 100%;
    height: 100vh;

    min-height: 40.625rem;

    margin: 0 auto;

    display: flex;
    justify-content: center;    
}

/* sections bg */
.sections--first-screen{  
    background: url('../../img/first-screen/bg.jpg') center center / cover no-repeat;    
}
.sections--we{
    background: url('../../img/we/bg.jpg') center center / cover no-repeat;
    
}
.sections--burgers{
    background-image: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);   
}
.sections--team{
    background: url('../../img/team/bg.jpg') center center / cover no-repeat;
    
}
.sections--menu{
    background: url('../../img/menu/bg.jpg') center center / cover no-repeat;    
}
.sections--howwork{
    background: url('../../img/howwork/bg.jpg') center center / cover no-repeat;
    
}
.sections--form{
    background: url('../../img/form/bg_texture.png') center center / cover no-repeat, url('../../img/form/bg.jpg') center center / cover no-repeat;  
    /*background-blend-mode: exclusion;*/
}
.sections--contacts{
    background: url('../../img/contacts/bg.jpg') center center / cover no-repeat;
}


.sections__block{
    width: 100%;
    height: 100%;
    /*max-width: 960px; */

    display: flex;
    flex-direction: column;
}

.sections__title--white{
    color: white;
}
.sections__title--yellow{
    color:#f9b43b;
}