.videoplayer__img-block{
    width: 660px;
    height: 370px;
    overflow: hidden;

    position: relative;
/*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

.videoplayer__img-block:after{
    content: "";
    display: inline-block;
    position: absolute;

    width: 82px;
    height: 118px;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-image: url('../../img/howwork/play_white.png');
    background-repeat: no-repeat;
    background-size: initial; 
    background-position: center center;
    cursor: pointer;
}

.videoplayer__image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* player */

.videoplayer__btn-block{
    width: 660px;
    height: 35px;    
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videoplayer__btn-block:before{
    content: "";
    display: inline-block;
    position: absolute;

    min-width: 100%;
    min-height: 100%;
    top: 0;

    background-color: #3e3e3e;
}

.videoplayer__btn{   
    background-repeat: no-repeat;
    background-size: initial; 
    background-position: center center;
    cursor: pointer;
    z-index: 1;
}

.play{
    background-image: url('../../img/howwork/pleer/play.png');
    width: 16px;
    height: 22px;
}
.shkala{
    background-image: url('../../img/howwork/pleer/shkala.png');
    width: 444px;
    height: 4px;
}

.videoplayer__btn-regulyator{
    background-image: url('../../img/howwork/pleer/regulyator.png');
    width: 12px;
    height: 13px;
}
.volume{
    background-image: url('../../img/howwork/pleer/volume.png');
    width: 18px;
    height: 22px;
}
.sound-meter{
    background-image: url('../../img/howwork/pleer/sound_meter.png');
    width: 58px;
    height: 4px;
}

.shkala,
.sound-meter{
    display: flex;
    align-items: center;

    padding-left: 50px;
}
.sound-meter{
    justify-content: flex-end;
    padding-left: 0;
}