/* copyright */

.copyright-street{
    color:$white;
    font-size: inherit;
    font-weight: $light;

    margin-bottom: rem(12px);
    @include tablets {
        margin-bottom: rem(8px);
    }
}

.copyright-number{
    text-decoration: none;
    font-size: inherit;
    font-weight: $bold;
    color: $red;
}

.copyright-phoneimage {
    display: inline-block;
    
    width: rem(12px);
    height: rem(11px);

    margin-right: rem(6px);
}

.copyright-phoneicon {
    @include imgsize(contain);
}