.we {
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: rem(940px);
        
        padding: 0 5%;

        @include phones {
            padding: 0;
        }  
    }
    
    & .sections__title {
        margin-bottom: rem(56px);
        @include phones {
            margin-bottom: rem(24px);
        }   
    }
}