//Шрифт
$regular: 300;
$light: 400;
$medium: 500;
$bold: 700;
$basefontsize: 14px;
$titlefontsize: 72px;

//Цвет
$white: #fff;
$orange: #e48c28;
$yellow: #f9b43b;
$light-orange: #ff9933;
$light-red: #e35028;
$red: #e45028;
$light-gray: #3e3e3e;
$gray: #2f3234;
$dark-gray: #1f2122;

//Размеры дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;

//Разные подстановки
