.advantage__block{
    text-align: center;
}

.advantage__list{
    display: flex;
}

.advantage__item{
    width: 300px;

    margin-right: 20px;
    
    &:last-child {
        margin-right: 0;
    }
}

.advantage__img-block{
    width: 100px;
    height: 90px;

    overflow: hidden;

    margin: 0 auto;

    margin-bottom: 21px;
}

.advantage__image{
    @include imgsize(contain);
}

.advantage__title{
    margin-bottom: 10px;
    font-size: $basefontsize+10px; //24px
}

.advantage__description{
    font-weight: $light;
    font-size: inherit;
    color: rgba(47, 50, 52, 0.8);
}