.arrow-scroll__block {     
    text-align: center;  
    margin-bottom: 30px;
}

.arrow-scroll__link {
    display: inline-block;
    width: 29px;
    height: 15px;

    animation: Up-Down 1s infinite;
}

.arrow-scroll__icon {
    fill: $white;
    @include imgsize(contain);    
}