.burgers__slider{
    display: flex;    
    align-items: center;

    flex: 1;

    max-width: rem(1010px);
    margin: 0 auto;
}

.burgers__content {
    display: flex;
    flex-wrap: nowrap;
    @include tablets {
        flex-wrap: wrap;
        max-width: rem(596px);
    }
}

.burgers__description,
.burgers__images-block {
    position: relative;
    /*flex-basis: 30%;*/
}

.burgers__images-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include tablets {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

/* auto-scroll */
.burgers__auto-scroll{
    display: inline-block;
    flex-shrink: 0;
    
    width: rem(29px);
    height: rem(15px);

    transform: rotate(90deg);

    overflow: hidden;
    cursor: pointer;

    margin-right: rem(20px);
}

.burgers__auto-scroll-image,
.burgers__composition-image,
.burgers__chr-icon,
.burgers__calories-icon,
.burgers__image {
    @include imgsize(contain);
}

.burgers__auto-scroll--right{
    transform: rotate(-90deg);

    margin-left: rem(39px);
}

.burgers__composition-block{
    position: absolute;
    bottom: rem(45px);

    display: flex;
    @include tablets {
        position: relative;
    }
}

/* composition */

.burgers__composition-btn-block{
    position: relative;

    width: rem(90px);
    height: rem(90px);
    border-radius: 5px;
    background-color: $light-orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    &:hover {
        background-color:$light-red;
        transition: .4s;
    }
    &:hover + .burgers__charackters-block {
        opacity: 1;
        transition: .4s;
        z-index: 1;
    }   
    @include tablets {
        position: absolute;
        top: 0;
        left:0;
    }
}

.burgers__composition-img{
    position: relative;

    width: rem(46px);
    height: rem(44px);

    overflow: hidden;
}

.burgers__composition-text{
    font-family: 'gagalin';
    text-transform: uppercase;
    font-size: inherit;
    color:$white;
}

.burgers__img-block{
    max-width: rem(505px);
    max-height: rem(329px);
    overflow: hidden;
    @include tablets {
        flex-shrink: 0;
    }
}

.burgers__calories-block{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: rem(60px);
    height: rem(60px);
    @include tablets {
        position: absolute;
        top: 0;
        right:0;
    }
}

.burgers__calories-count,
.burgers__calories-text{
    font-family: 'gagalin';    
    color:rgba(255, 255, 255, 0.5);
}

.burgers__calories-count{
    position: absolute;
    font-size: rem($basefontsize+6px); //20px;
}

.burgers__calories-text{
    font-size: inherit;
}

/* burgers__charackters-block */

.burgers__charackters-block{    
    width: rem(270px); 
    
    border-radius: 5px;
    background-color: rgba(255,255,255,.9);

    opacity: 0;

    right:rem(999px);
    @include tablets {
        display: none;
    }
}

.burgers__charackters-list{
    padding:rem(28px) rem(22px);
}

.burgers__charackters-item {
    display: flex;
    align-items: center;

    margin-bottom: rem(20px);
    
    &:last-child {
        margin-bottom: 0;
    }
}

.burgers__chr-img-block{
    width: rem(48px);
    height: rem(43px);
    
    overflow: hidden;

    display: flex;
    align-items: center;

    margin-right: rem(20px);
}


.burgers__chr-description{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.burgers__chr-text,
.burgers__chr-value{
    font-size: inherit;    
    color: $gray;
}

.burgers__chr-text{
    font-weight: $medium;
}

.burgers__chr-value{
    font-weight: $light;
}

.burgers__calories-img-block{
    width: rem(60px);
    height: rem(60px);
}

/* burgers__description */

.burgers__description{
    color: $white;
    @include tablets {
        position: relative;
        text-align: center;

        & .sections__title {
            max-width: rem(348px);
            margin: 0 auto;
            margin-bottom: 0;            
        }
    }
}

.burgers__description .sections__title{
    margin-bottom: rem(56px);
}

.burgers__text{
    font-size: inherit;
    line-height: 1.71;
}

.burgers__price-block{
    display: flex;
    align-items: baseline;    
    @include tablets {
        @include centered(absolute, 'x');
    }
}

.burgers__price-text{
    display: inline-block;

    font-family: 'gagalin';
    font-size: rem($titlefontsize);    
    color: $light-red;

    margin-right: rem(3px);
    @include tablets {
        font-size: rem($titlefontsize-phone);
    }
}

.burgers__price-val{
    @extend .burgers__price-text;
    font-size: rem($basefontsize+16px); //30px;

    margin-right: rem(24px);
}
