.button-nav{
    position: fixed;

    right: 0;
    margin-top:90px;
    margin-right: 50px;

    z-index: 10;
}

.button-nav__dot{
    position: relative;

    @include circle(6px, 1px, transparent, $white);

    margin-bottom: 16px;

    &:after {
        content: "";
        display: inline-block;  
        position: absolute;        
         
        @include circle(16px, 1px, transparent, transparent);
    
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    
        transition: border-color .4s;
    }
}

.button-nav__item:hover .button-nav__dot:after,
.button-nav__item--active .button-nav__dot:after{
    border-color: $white;
}
