/* copyright */

.footer__copyright-street{
    color:$white;
    font-size: inherit;
    font-weight: $light;

    margin-bottom: rem(12px);
}

.footer__copyright-number{
    text-decoration: none;
    font-size: inherit;
    font-weight: $bold;
    color: $red;
/*
    &:before{
        content: "";
        display: inline-block;
    
        background-image: url('../img/contacts/sprite.svg#phone');
        @include bg(cover, center center);
        width: 12px;
        height: 11px;
    
        margin-right: 6px;
    }*/
}

.footer__copyright-phoneimage {
    display: inline-block;
    
    width: rem(12px);
    height: rem(11px);

    margin-right: rem(6px);
}

.footer__copyright-phoneicon {
    @include imgsize(contain);
}