.footer{
    // прибиваем футер
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(60px); // фиксированая высота футера
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 87%;
}

.footer__copyright,
.footer__social{
    flex-basis: 50%;
}

