.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   

    margin-top: rem(13px);  
    
    @include tablets {
        position: relative; 
    }
}

.header__button {
    @include tablets {
        margin-right: rem(44px);
    }
    @include phones {
        margin-right: rem(34px);
    }
}
