.howwork {
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    & .sections__title {
        text-align: center;
        font-size: rem(61px);
        margin-bottom: rem(37px);
        @include tablets {
            font-size: rem(72px);
        }      
        @include phones {
            width: rem(200px);
            text-align: center;
            font-size: rem(50px);
        }  
    }
}


