
.logo{
    display: inline-block;

    flex-shrink: 0;  
    @include tablets {
        z-index: 1;   
        margin-left: rem(24px);
    }
    @include phones {           
        margin-left:0;
    }
}

.logo__link{    
    display: inline-block;
}

.logo__image{
    width: rem(92px);
    height: rem(69px);
    overflow: hidden; 
}

.logo__title{
    display: none;
}

