
.logo{
    display: inline-block;

    flex-shrink: 0;  
}

.logo__link{    
    display: inline-block;
}

.logo__image{
    width: 92px;
    height: 69px;
    overflow: hidden; 
}

.logo__title{
    display: none;
}