
.logo{
    display: inline-block;

    flex-shrink: 0;  
}

.logo__link{    
    display: inline-block;
}

.logo__image{
    width: rem(92px);
    height: rem(69px);
    overflow: hidden; 
}

.logo__title{
    display: none;
}


//-------------------------------
//768 px
@media (max-width:768px) {
    .logo{
        z-index: 1;   
        margin-left: rem(24px);
    }
}