.map {    
    flex: 1;
}

.map__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map__img-block { //убрать после yandex-map api
    width: 100%;
    height: 100%;

    object-fit: cover;
}