.team{   
    position: relative;

    & .container{
        position: absolute;
        width: 50%;
        right: 0;

        background-color: rgba(51,51,51,.85);  
    }
    @include tablets {
        & .container{
            width: 100%;
        }

        & .sections__title{
            text-align: center;
            margin-bottom: rem(60px);
        }  
    }
}

.team__wrapper{
    max-width: rem(353px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;

    & .sections__title{
        margin-bottom: rem(46px);
    }
    @include tablets { 
        max-width: rem(348px);
    } 
}

.team__title{
    color:$yellow;

    margin-bottom: rem(45px);
}

.team__item{
    margin-bottom: rem(35px);
    &:last-child,
    &:last-child .team__name {
        margin-bottom: 0;
    }
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(35px);
        &:last-child,
        &:last-child .team__name {
            margin-bottom: 0;
        }
    }
}

.team__item+.is-active .team__name{
    color:$yellow;
}

.team__name-block{
    display: flex;
    align-items: center;
}

.team__name{
    text-transform: uppercase;
    font-size: inherit; 
    color: $white;   

    margin-bottom: rem(17px);   

    cursor:pointer;

    &:before{
        content: "";
        display: inline-block;
    
        width: 0;
        height: 0;
    
        border: rem(10px) solid transparent;
        border-top-color: $yellow;

        border-width: rem(7px) rem(5px) 0 rem(5px);
        
        margin-right: rem(10px);
        margin-bottom: 2%;
    }
    @include tablets {
        font-size: rem(24px);
        margin-bottom: rem(20px);
    }
}

.team__item+.is-active {
    .team__name:before {
        transform: rotate(180deg);
    }
    .team__block-description {
        height: 100%;
    }
}

.team__block-description{
    display: flex;

    margin-left: rem(15px);

    height: 0;
    overflow: hidden;
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
}

.team__img-block{
    width: rem(100px);
    height: rem(100px);

    border-radius: 50%;
    overflow: hidden;

    flex-shrink: 0;

    margin-right: rem(21px);
    @include tablets {
        margin-right: 0;
        margin-bottom: rem(18px);
    }
}

.team__image{
    //@include imgsize(contain);
    max-height: 100%;
    object-fit: contain;
    transform: translateX(rem(-19px));
}

.team__text{    
    color:$white;    
    font-style: rem(14px);
    @include tablets{
        text-align: center;
    }
}

.team__profession{
    font-weight: $bold;

    margin-bottom: rem(16px);
}

.team__about{
    font-weight: $light;
}

