.videoplayer {
    @include tablets{
        max-width: rem(720px);
    }
}

.videoplayer__preview{
    position: relative;
}

.videoplayer__img-block {
    width: rem(660px);
    height: rem(370px);
    overflow: hidden;  
}

.videoplayer__play {
    position: absolute;
    cursor: pointer;  

    width: rem(82px);
    height: rem(118px);

    @include centered(absolute, 'both');
    fill: $white;
    opacity: 0.9;
    @include tablets {
        fill: $black;
        opacity: 0.9;
    }
}

.videoplayer__image {
    @include imgsize(contain);
}

/* player */

.videoplayer__button {    
    position: relative;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: rem(660px);
    height: rem(35px);

    background-color: $light-gray;    
}

.videoplayer__play--control { 
    fill:$button-control;
    @include centered(initial, 'y');
    width: rem(16px);
    height: rem(22px);
    @include tablets{
        fill:$button-control;
    }
}

.videoplayer__playicon {
    max-width: 100%;
    max-height: 100%;
}

.videoplayer__shkala {
    cursor: pointer;

    position: relative;
    @include btn-shkala(rem(444px));
    &:before {        
        @include btn-control(rem(13px));
        margin-left: rem(73px);        
    }
    @include tablets{
        width: rem(602px);
    }
}

.videoplayer__volume {
    cursor: pointer;

    width: rem(18px);
    height: rem(22px);
}

.videoplayer__volumeicon {
    max-width: 100%;
    max-height: 100%;
}

.videoplayer__sound-meter {
    cursor: pointer;

    @include btn-shkala(rem(58px));
    &:before {
        @include btn-control(rem(13px));
        right: rem(10px);
        border-radius: 50%;
    }
}

.videoplayer__volume,
.videoplayer__sound-meter {
    @include tablets {
        display: none;
    }
}   

