.videoplayer {
    @include tablets{
        max-width: rem(720px);
    }    
    @include phones{
        //max-width: rem(460px);
        width: 98.7%;
    }    
}

.videoplayer__preview{
    position: relative;
}

.videoplayer__image {
    width: 100%;
    height: 100%;
    overflow: hidden;      
}

.videoplayer__image-block {
    display: block;
    @include imgsize(contain);
}

.videoplayer__play {
    
    width: rem(82px);
    height: rem(118px);

    @include centered(absolute, 'both');
    fill: $white;
    opacity: 0.9;
    
    @include tablets {
        fill: $black;
        opacity: 0.9;
    }
}


/* player */

.videoplayer__button {    
    position: relative;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 100%;
    height: rem(35px);

    background-color: $light-gray; 

    @include tablets {
        justify-content: space-evenly;
    }    
    
    @include phones {
        height: rem(28px);
    } 
}

.videoplayer__playicon {
    max-width: 100%;
    max-height: 100%;
}

.videoplayer__play--control { 
    fill:$button-control;

    width: rem(16px);
    height: rem(22px);
}

.videoplayer__shkala {
    cursor: pointer;
    position: relative;

    @include btn-shkala(rem(444px));

    &:before {        
        @include btn-control(rem(13px));
        left: rem(73px);        
    }

    @include tablets{
        width: 85%;
        //width: rem(600px);
    }
}

.videoplayer__volume {
    width: rem(18px);
    height: rem(22px);
}
.videoplayer__volumeicon {
    max-width: 100%;
    max-height: 100%;
}

.videoplayer__sound-meter {
    cursor: pointer;

    @include btn-shkala(rem(58px));

    &:before {
        @include btn-control(rem(13px));
        right: rem(10px);
        border-radius: 50%;
    }
}

.videoplayer__volume,
.videoplayer__sound-meter {
    @include tablets {
        display: none;
    }
}   

